<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.mi.wewok">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" android:protectionLevel="signature"/>

    <application
        android:name="fr.mi.wewok.WewokApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeWokandroid">

        <service
            android:name=".utils.notifications.MyFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_home" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/message_color_dark" />

        <activity android:name="fr.mi.wewok.ui.details_wok.payement.WebActivity">

        </activity>
        <activity android:name="fr.mi.wewok.ui.details_wok.commande.CommandeActivity" />
        <activity android:name="fr.mi.wewok.ui.spalshScreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="fr.mi.wewok.ui.home.ModeActivity">

        </activity>
        <activity android:name="fr.mi.wewok.ui.details_wok.payement.PaymentEmporterActivity" />
        <activity android:name="fr.mi.wewok.ui.details_wok.payement.PaymentLivraisonActivity" />
        <activity android:name="fr.mi.wewok.ui.details_wok.step3.DetailsWokActivityStep3" />
        <activity android:name="fr.mi.wewok.ui.details_wok.step2.DetailsWokActivityStep2" />
        <activity android:name="fr.mi.wewok.ui.details_wok.step1.DetailsWokActivityStep1" />
        <activity android:name="fr.mi.wewok.ui.home.HomeActivity"></activity>
        <activity android:name="fr.mi.wewok.ui.auth.AuthActivity" />
        <activity android:name="fr.mi.wewok.ui.details_wok.SuccessActivity" />
    </application>

</manifest>